@import "~bootstrap/scss/bootstrap";

.table {
  width: 100%;
}

.thread {
  background: #172b44;
  color: #acb1b4;
  font-size: 0.75rem;
  text-align: start;
}

.tr{
  font-size: 0.8rem;
  border-bottom: 1px solid black;
  text-align: start;
}

.docLink {
  cursor: pointer;
}





